[user]
  email = szymon.kin@gmail.com
  name = hoolek77
[includeIf "gitdir:~/dev/jjm/"]
  path = .gitconfig-jjm
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[core]
  editor = nvim
