[user]
  email = szymon.kin@gmail.com
  name = hoolek77
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINuBqWWIHr2uy+hkiuv1xEOUzLUQtlLFfUN58oIjNoJO
; reference for future
; [includeIf "gitdir:~/dev/jjm/"]
;   path = .gitconfig-jjm
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[core]
  editor = nvim

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
