[include]
  path = .gitconfig-signing

[user]
  email = szymon.kin@gmail.com
  name = hoolek77

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[core]
  editor = nvim

